{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
    <title>{% block title %}Balirate{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="balirate.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/odometer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sib-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Font -->
    <link rel="stylesheet" href="{% static 'font/fonts.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'icons/icomoon/style.css' %}">

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/favicon.svg' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- wrapper -->
    <div id="wrapper" class="counter-scroll">

        {% include 'includes/header.html' %}

        <!-- main-content -->
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
        <!-- End main-content -->

        {% include 'includes/footer.html' %}

    </div>
    <!-- End wrapper -->

    {% include 'includes/mobile_menu.html' %}

    {% include 'includes/scripts.html' %}

    {% block extra_js %}{% endblock %}
</body>

</html>