{% extends 'base.html' %}
{% load static %}

{% block title %}Balirate - Real Estate{% endblock %}

{% block meta_description %}Balirate is a website specializing in buying and renting properties{% endblock %}

{% block content %}
    {% include 'mainpage/hero.html' %}
    {% include 'mainpage/categories.html' %}
    {% include 'mainpage/about.html' %}
    {% include 'mainpage/featured_properties.html' %}
    {% include 'mainpage/testimonials.html' %}
    {% include 'mainpage/latest_news.html' %}
{% endblock %}