<div id="video" class="tf-spacing-9 section">
                                <div class="properties-video properties-2 ">
                                    <h5 class="properties-title mb_20">
                                        Video
                                    </h5>
                                    <div class="widget-video">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg"
                                            src="images/section/properties-video.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="icons/play.svg" alt="play"> </a>
                                    </div>
                                </div>
                            </div>