                    <div class="parallaxie" style='background: url("images/section/section-about.jpg")'>
                        <div class="content">
                            <div class="wrap d-flex flex-column">
                                <div class="tf-box-icon style-1">
                                    <div class="heading d-flex justify-content-between mb_19">
                                        <div class="counter-item style-default">
                                            <div class="counter-number">
                                                <h2 class="odometer" data-number="112">10</h2>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-Certificate"></i>
                                        </div>
                                    </div>
                                    <h6 class="text_secondary-color sub">Awards Received</h6>
                                </div>
                                <div class="d-flex gap_12 bot">
                                    <div class="tf-box-icon style-1">
                                        <div class="heading d-flex justify-content-between mb_19">
                                            <div class="counter-item style-default">
                                                <div class="counter-number">
                                                    <h2 class="odometer" data-number="85">10</h2>
                                                </div>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-BuildingOffice"></i>
                                            </div>
                                        </div>
                                        <h6 class="text_secondary-color sub">Satisfied Clients</h6>
                                    </div>
                                    <div class="tf-box-icon style-1">
                                        <div class="heading d-flex justify-content-between mb_19">
                                            <div class="counter-item style-default">
                                                <div class="counter-number">
                                                    <h2 class="odometer" data-number="66">10</h2>
                                                </div>
                                            </div>
                                            <div class="icon">
                                                <i class="icon-ChartDonut"></i>
                                            </div>
                                        </div>
                                        <h6 class="text_secondary-color sub">Monthly Traffic</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>