            <!-- section-features-property -->
            <div class="section-features-property-4 tf-spacing-1 pt-0">
                <div class="tf-container">
                    <div class="heading-section justify-content-center text-center mb_46">
                        <span class="sub text-uppercase fw-6 text_secondary-color-2 split-text effect-rotate">Featured
                            Properties</span>
                        <h3 class="split-text effect-blur-fade">Find Your Dream Home</h3>
                    </div>
                    <div class="swiper tf-sw-mobile  bg_1" data-screen="767" data-preview="1" data-space="15">
                        <div class="swiper-wrapper tf-grid-layout-md lg-col-3 md-col-2">
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-1.jpg"
                                            srcset="images/home/home-1.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag rent text-button-small fw-6 text_primary-color">
                                                For Rent
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Apartment
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$250,00<span
                                                class="text_secondary-color text-body-default">/month</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Villa
                                            del Mar Retreat,
                                            Malibu</a>
                                        <p>72 Sunset Avenue, Los Angeles, California</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>4 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>2,400 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-2.jpg"
                                            srcset="images/home/home-2.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag sale text-button-small fw-6 text_primary-color">
                                                For Sale
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Villa
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$6130,00<span
                                                class="text_secondary-color text-body-default">/SqFT</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Sunset Heights Estate</a>
                                        <p>245 Elm Street, San Francisco, CA 94102</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>3 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>1,600 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-3.jpg"
                                            srcset="images/home/home-3.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag rent text-button-small fw-6 text_primary-color">
                                                For Rent
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Studio
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$5280,00<span
                                                class="text_secondary-color text-body-default">/month</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Coastal Serenity Cottage</a>
                                        <p>918 Maple Avenue, Brooklyn, NY 11215</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>4 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>2,600 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-4.jpg"
                                            srcset="images/home/home-4.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag sale text-button-small fw-6 text_primary-color">
                                                For Sale
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Villa
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$6640,00<span
                                                class="text_secondary-color text-body-default">/SqFT</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Rancho Vista Verde</a>
                                        <p>77 Lakeview Court, Orlando, FL 32801</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>4 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>2,400 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-5.jpg"
                                            srcset="images/home/home-5.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag rent text-button-small fw-6 text_primary-color">
                                                For Rent
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Office
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$320,00<span
                                                class="text_secondary-color text-body-default">/month</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Villa del Mar Retreat</a>
                                        <p>1325 Oakwood Drive, Austin, TX 78703</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>4 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>1,800 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="card-house style-default">
                                    <div class="img-style mb_20">
                                        <img loading="lazy" decoding="async" src="images/home/home-1.jpg"
                                            srcset="images/home/home-1.jpg 410w" sizes="(max-width: 410px) 100vw, 410px"
                                            width="410" height="308" alt="home">
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            <div class="tag sale text-button-small fw-6 text_primary-color">
                                                For Sale
                                            </div>
                                            <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                Townhouse
                                            </div>
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        <div class="wishlist">
                                            <a href="javascript:void(0);" class="hover-tooltip tooltip-left box-icon">
                                                <span class="icon icon-Heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="price mb_12">$5210,00<span
                                                class="text_secondary-color text-body-default">/SqFT</span></h4>
                                        <a href="property-details-1.html"
                                            class="title mb_8 h5 link text_primary-color">Casa
                                            Lomas de Machali</a>
                                        <p>4600 Sunset Blvd, Los Angeles, CA 90027</p>
                                        <ul class="info d-flex">
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bed"></i>4 Beds
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Bathstub"></i>2 Baths
                                            </li>
                                            <li
                                                class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                <i class="icon-Ruler"></i>2,200 Sqft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sw-dots style-1 sw-pagination-mb mt_24 justify-content-center d-flex d-md-none">
                        </div>
                    </div>
                    <a href="listing-topmap-grid.html"
                        class="tf-btn btn-bg-1 mx-auto btn-px-32 scrolling-effect effectBottom">
                        <span>View All Properties</span>
                        <span class="bg-effect"></span>
                    </a>
                </div>
            </div>
            <!-- End section-features-property -->