<div class="section-faqs  tf-spacing-1">
                <div class="tf-container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="faq-item">
                                <h4 class="mb_18">#</h4>
                                <ul class="accordion-wrap" id="accordion-faq">
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1" class="accordion-title " data-bs-toggle="collapse"
                                            aria-expanded="true" aria-controls="accordion-faq-1">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What is the process of buying a home from start to finish?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1" class="collapse show" data-bs-parent="#accordion-faq">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    How much should I budget for closing costs?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2" class="collapse" data-bs-parent="#accordion-faq">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-3" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-3">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">Do
                                                    I need to get pre-approved before starting my home
                                                    search?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-3" class="collapse" data-bs-parent="#accordion-faq">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-4" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-4">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What’s the difference between a fixed-rate and an
                                                    adjustable-rate mortgage?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-4" class="collapse " data-bs-parent="#accordion-faq">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-5" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-5">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    How long does it typically take to close on a
                                                    property?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-5" class="collapse " data-bs-parent="#accordion-faq">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="faq-item">
                                <h4 class="mb_18">Investing in Real Estate</h4>
                                <ul class="accordion-wrap" id="accordion-faq1">
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1-1" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-1-1">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What are the best types of properties for first-time
                                                    investors?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1-1" class="collapse" data-bs-parent="#accordion-faq1">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1-2" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-1-2">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    How do I calculate potential ROI on a rental property?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1-2" class="collapse" data-bs-parent="#accordion-faq1">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1-3" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-1-3">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    Should I invest in residential or commercial real
                                                    estate?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1-3" class="collapse" data-bs-parent="#accordion-faq1">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1-4" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-1-4">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What are the tax benefits of owning investment
                                                    properties?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1-4" class="collapse " data-bs-parent="#accordion-faq1">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-1-5" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-1-5">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">Is
                                                    it better to flip houses or hold them long-term?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-1-5" class="collapse " data-bs-parent="#accordion-faq1">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="faq-item">
                                <h4 class="mb_15">Renting & Property Management</h4>
                                <ul class="accordion-wrap" id="accordion-faq2">
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2-1" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2-1">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What should I include in a rental agreement?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2-1" class="collapse" data-bs-parent="#accordion-faq2">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2-2" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2-2">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    How do I screen potential tenants effectively?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2-2" class="collapse" data-bs-parent="#accordion-faq2">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2-3" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2-3">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What are my responsibilities as a landlord?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2-3" class="collapse" data-bs-parent="#accordion-faq2">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2-4" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2-4">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    How often should I inspect a rental property?</div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2-4" class="collapse " data-bs-parent="#accordion-faq2">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion-item">
                                        <a href="#accordion-faq-2-5" class="accordion-title collapsed"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="accordion-faq-2-5">
                                            <div class="heading">
                                                <div class="title text-capitalize text-title text_primary-color fw-6">
                                                    What steps should I take if a tenant fails to pay
                                                    rent?
                                                </div>
                                                <span class="icon icon-CaretDown"></span>
                                            </div>
                                        </a>
                                        <div id="accordion-faq-2-5" class="collapse" data-bs-parent="#accordion-faq2">
                                            <div class="accordion-faqs-content">
                                                <p class="mb_12">The home-buying process typically begins with
                                                    assessing your financial situation and getting pre-approved for a
                                                    mortgage. Once you know your budget, you can start searching for
                                                    properties that meet your needs and preferences. After finding a
                                                    suitable home, you’ll make an offer, and if it’s accepted, you'll
                                                    enter
                                                    into a purchase agreement.
                                                </p>
                                                <p>Next comes the home inspection, appraisal, and final mortgage
                                                    approval.
                                                    Once all contingencies are cleared and the paperwork is completed,
                                                    you’ll attend the closing meeting to sign documents and transfer
                                                    ownership. After closing, the keys are yours and the home officially
                                                    becomes yours.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar-faq sticky-top">
                                <form class="form-faq">
                                    <div class="heading">
                                        <h5 class="mb_8">Ask Your Question</h5>
                                        <p>Ask Anything, We're Here to Help</p>
                                    </div>
                                    <fieldset>
                                        <label for="name" class="text-button text_primary-color fw-7 mb_8">First
                                            Name</label>
                                        <input class="" id="name" type="text" placeholder="First Name" name="text"
                                            tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div>
                                        <div class="text-button text_primary-color mb_8">How Can We Help You?</div>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">Investing in Real Estate</span>
                                            <ul class="list">
                                                <li data-value class="option selected">Investing in Real Estate</li>
                                                <li data-value="buying" class="option">Buying a Home</li>
                                                <li data-value="selling" class="option">Selling a Property</li>
                                                <li data-value="financing" class="option">Financing Options</li>
                                                <li data-value="Other" class="option">Other</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <fieldset>
                                        <label for="comment"
                                            class="text-button text_primary-color fw-7 mb_8">Message</label>
                                        <textarea id="comment" class="" rows="4" placeholder="Your Message" tabindex="2"
                                            aria-required="true" required=""></textarea>
                                    </fieldset>
                                    <button class="tf-btn btn-bg-1 btn-px-28 w-full" type="submit">
                                        <span>Send Request</span>
                                        <span class="bg-effect"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>