{% load static %}
<!-- section-hero / banner -->
<div class="section-hero style-5">
    <div class="tf-container w-xxl">
        <div class="row">
            <div class="col-12">
                <div class="content text-center">
                    <h1 class="split-text effect-blur-fade">Find Your Dream Home</h1>
                    <p class="text-body-1 mb_32">Discover the perfect property for you</p>
                    <!-- Search form here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section-hero -->