{% load static %}
<!-- section-latest-new -->
<div class="sw-layout tf-spacing-1">
    <div class="tf-container">
        <div class="heading-section justify-content-center text-center mb_48">
            <span class="sub text-uppercase fw-6 text_secondary-color-2 split-text effect-rotate">Latest News</span>
            <h3 class="split-text effect-blur-fade">Helpful Guides</h3>
        </div>
        <div class="swiper" data-preview="3" data-tablet="2" data-mobile-sm="2" data-mobile="1"
            data-space-lg="30" data-space-md="20" data-space="15">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="blog-article-item style-default hover-image-translate">
                        <div class="article-thumb image-wrap mb_24">
                            <img loading="lazy" decoding="async" src="{% static 'images/blog/blog-item-3.jpg' %}"
                                width="850" height="478" alt="blog">
                            <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                Furniture
                            </a>
                        </div>
                        <div class="article-content">
                            <div class="article-meta mb_12">
                                <span class="date"><i class="icon-CalendarBlank"></i> Jan 05, 2024</span>
                            </div>
                            <h5 class="article-title mb_12">
                                <a href="#">How to Choose the Perfect Property in Bali</a>
                            </h5>
                            <p class="article-excerpt">Learn the essential tips for finding your dream property in Bali...</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-article-item style-default hover-image-translate">
                        <div class="article-thumb image-wrap mb_24">
                            <img loading="lazy" decoding="async" src="{% static 'images/blog/blog-item-4.jpg' %}"
                                width="850" height="478" alt="blog">
                            <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                Investment
                            </a>
                        </div>
                        <div class="article-content">
                            <div class="article-meta mb_12">
                                <span class="date"><i class="icon-CalendarBlank"></i> Jan 03, 2024</span>
                            </div>
                            <h5 class="article-title mb_12">
                                <a href="#">Real Estate Investment Tips for 2024</a>
                            </h5>
                            <p class="article-excerpt">Discover the best investment opportunities in Bali real estate...</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-article-item style-default hover-image-translate">
                        <div class="article-thumb image-wrap mb_24">
                            <img loading="lazy" decoding="async" src="{% static 'images/blog/blog-item-5.jpg' %}"
                                width="850" height="478" alt="blog">
                            <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                Lifestyle
                            </a>
                        </div>
                        <div class="article-content">
                            <div class="article-meta mb_12">
                                <span class="date"><i class="icon-CalendarBlank"></i> Dec 28, 2023</span>
                            </div>
                            <h5 class="article-title mb_12">
                                <a href="#">Living in Bali: What You Need to Know</a>
                            </h5>
                            <p class="article-excerpt">Everything you need to know about living in paradise...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sw-dots sw-pagination-layout text-center mt_24"></div>
        </div>
    </div>
</div>
<!-- End section-latest-new -->