{% load static %}
            <!-- section-latest-new -->
            <div class="sw-layout tf-spacing-1">
                <div class="tf-container">
                    <div class="heading-section mb_48">
                        <h3 class="split-text effect-blur-fade">Последние новости</h3>
                    </div>
                    <div class="swiper " data-preview="3" data-tablet="2" data-mobile-sm="2" data-mobile="1"
                        data-space-lg="30" data-space-md="20" data-space="15">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide">
                                <div class="blog-article-item style-default hover-image-translate">
                                    <div class="article-thumb image-wrap mb_24">
                                        <img loading="lazy" decoding="async" src="images/blog/blog-item-3.jpg"
                                            width="850" height="478" alt="blog">
                                        <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                            Furniture
                                        </a>
                                        <a href="blog-post-1.html" class="overlay-link"></a>
                                    </div>
                                    <div class="article-content ">
                                        <div class="meta-post d-flex align-items-center mb_12">
                                            <div class="item text_secondary-color text-caption-1 ">Post By <a href="#"
                                                    class="link text_primary-color">Mike Hanley</a></div>
                                            <div class="item text_secondary-color text-caption-1 ">May 06, 2025</div>
                                        </div>
                                        <h5 class="title ">
                                            <a href="blog-post-1.html" class=" hover-line-text">Top 5
                                                Cities To Invest
                                                In Real Estate This Year</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-article-item style-default hover-image-translate ">
                                    <div class="article-thumb image-wrap mb_24">
                                        <img loading="lazy" decoding="async" src="images/blog/blog-item-10.jpg"
                                            width="850" height="478" alt="blog">
                                        <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                            Interior
                                        </a>
                                        <a href="blog-post-1.html" class="overlay-link"></a>
                                    </div>
                                    <div class="article-content ">
                                        <div class="meta-post d-flex align-items-center mb_12">
                                            <div class="item text_secondary-color text-caption-1 ">Post By <a href="#"
                                                    class="link text_primary-color">Balla Daniella</a></div>
                                            <div class="item text_secondary-color text-caption-1 ">May 06, 2025</div>
                                        </div>
                                        <h5 class="title ">
                                            <a href="blog-post-1.html" class=" hover-line-text">A
                                                Beginner’s Guide To
                                                Buying Your First Home</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="blog-article-item style-default hover-image-translate ">
                                    <div class="article-thumb image-wrap mb_24">
                                        <img loading="lazy" decoding="async" src="images/blog/blog-item-2.jpg"
                                            width="850" height="478" alt="blog">
                                        <a href="#" class="tag text-label text text_primary-color text-uppercase">
                                            Architecture
                                        </a>
                                        <a href="blog-post-1.html" class="overlay-link"></a>
                                    </div>
                                    <div class="article-content ">
                                        <div class="meta-post d-flex align-items-center mb_12">
                                            <div class="item text_secondary-color text-caption-1 ">Post By <a href="#"
                                                    class="link text_primary-color">Kelemen Krisztina</a></div>
                                            <div class="item text_secondary-color text-caption-1 ">May 08, 2025</div>
                                        </div>
                                        <h5 class="title">
                                            <a href="blog-post-1.html" class=" hover-line-text">Luxury
                                                Living: What
                                                Defines A High-End Property?</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sw-dots style-1 sw-pagination-layout text-center mt_24">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section-latest-new -->