<div class="tf-container sw-layout">
                    <div class="swiper" data-preview="2" data-tablet="2" data-mobile="1" data-mobile-sm="2"
                        data-space-lg="30" data-space-md="24" data-space="15">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div>
                                        <ul class="ratings d-flex mb_12">
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                        </ul>
                                        <p class="text_primary-color text-body-1 mb_23">“This platform made property
                                            investing
                                            so much
                                            easier. I found two great rentals in just a few months, and both are already
                                            performing better than expected.”</p>
                                    </div>
                                    <div class="author d-flex gap_12 align-items-center">
                                        <div class="avatar">
                                            <img src="images/avatar/avatar-4.jpg" width="60" height="60" alt="avatar">
                                        </div>
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Liam Anderson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div>
                                        <ul class="ratings d-flex mb_12">
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                        </ul>
                                        <p class="text_primary-color text-body-1 mb_23">“As a first-time buyer, I felt
                                            guided every step of the way. Found my dream home fast and the support team
                                            was
                                            always there to answer my questions.” </p>
                                    </div>
                                    <div class="author d-flex gap_12 align-items-center">
                                        <div class="avatar">
                                            <img src="images/avatar/avatar-5.jpg" width="60" height="60" alt="avatar">
                                        </div>
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Adam Will</a>
                                            <p>CEO Agency Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div>
                                        <ul class="ratings d-flex mb_12">
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                        </ul>
                                        <p class="text_primary-color text-body-1 mb_23">“This platform made property
                                            investing
                                            so much
                                            easier. I found two great rentals in just a few months, and both are already
                                            performing better than expected.”</p>
                                    </div>
                                    <div class="author d-flex gap_12 align-items-center">
                                        <div class="avatar">
                                            <img src="images/avatar/avatar-4.jpg" width="60" height="60" alt="avatar">
                                        </div>
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Liam Anderson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div>
                                        <ul class="ratings d-flex mb_12">
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                        </ul>
                                        <p class="text_primary-color text-body-1 mb_23">“This platform made property
                                            investing
                                            so much
                                            easier. I found two great rentals in just a few months, and both are already
                                            performing better than expected.”</p>
                                    </div>
                                    <div class="author d-flex gap_12 align-items-center">
                                        <div class="avatar">
                                            <img src="images/avatar/avatar-4.jpg" width="60" height="60" alt="avatar">
                                        </div>
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Liam Anderson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sw-dots style-1 sw-pagination-layout justify-content-center d-flex mt_24">
                        </div>
                    </div>
                    <div class="wrap-infiniteslide">
                        <div class="infiniteslide " data-clone="2" data-style="left">
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-4.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-5.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item ">
                                <div class="brand">
                                    <img src="images/logo/brand-6.png" alt="brand">
                                </div>
                            </div>

                        </div>
                    </div>