{% load static %}
<!-- section-testimonials -->
<div class="section-testimonials-2 tf-spacing-1">
    <div class="tf-container">
        <div class="heading-section justify-content-center text-center mb_48">
            <span class="sub text-uppercase fw-6 split-text effect-rotate">Our Testimonials</span>
            <h3 class="split-text effect-blur-fade">What Our Clients Say</h3>
        </div>
        <div class="tf-grid-layout md-col-2">
            <div class="wrap-infiniteslide">
                <div class="infiniteslide" data-clone="2" data-style="up">
                    <div class="marquee-item">
                        <div class="testimonial-item style-2">
                            <div class="author d-flex gap_20 align-items-center mb_20">
                                <div class="avatar">
                                    <img src="{% static 'images/avatar/avatar-7.jpg' %}" width="60" height="60" alt="avatar">
                                </div>
                                <div class="info">
                                    <div class="d-flex align-items-center name">
                                        <a href="#" class="h5 text_primary-color link">Liam Anderson</a>
                                        <ul class="ratings d-flex">
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                            <li><i class="icon-favorite_major"></i></li>
                                        </ul>
                                    </div>
                                    <p class="text_secondary-color">Happy Client</p>
                                </div>
                            </div>
                            <p class="text">"The team was incredibly helpful throughout the entire process. They went above and beyond to help."</p>
                        </div>
                    </div>
                    <!-- More testimonial items -->
                </div>
            </div>
            <div class="thumbs text-center tf-animate-4">
                <img class="sticky-top" loading="lazy" decoding="async" width="610" height="813"
                    src="{% static 'images/section/section-testimonials-1.jpg' %}" alt="testimonials">
            </div>
        </div>
    </div>
</div>
<!-- End section-testimonials -->