{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="tf-container">
        <div class="footer-body">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about footer-item">
                        <a href="{% url 'index' %}" class="footer-logo mb_17">
                            <img src="{% static 'images/logo/logo-2.svg' %}" alt="logo" class="main-logo">
                        </a>
                        <div class="mb_16">
                            <p class="mb_4 text_color-1">Our Address:</p>
                            <p class="text_white">101 E 129th St, East Chicago, 2nd Floor
                                New York, NY 10017</p>
                        </div>
                        <div class="text-body-default text_secondary-color mb_16">
                            <span class="text_color-1">Support 24/7:</span>
                            <span class="text_white ms_4">1-555-678-8888</span>
                        </div>
                        <div class="text-body-default text_secondary-color">
                            <span class="text_color-1">Email Address:</span>
                            <a href="#" class="text_white link ms_4">themesflat@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-content footer-item d-flex justify-content-between">
                        <div class="footer-col-block company">
                            <div class="footer-heading footer-heading-mobile text-title fw-6 text_white mb_16">
                                Our Company
                            </div>
                            <div class="tf-collapse-content">
                                <ul class="footer-menu-list d-grid gap_12">
                                    <li class="text-body-default text_color-1">
                                        <a href="listing-topmap-grid.html" class="link">Property For Sale</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="listing-topmap-grid.html" class="link">Property For Rent</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="listing-topmap-grid.html" class="link">Property For Buy</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="listing-topmap-grid.html" class="link">All Properties</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="listing-topmap-grid.html" class="link">Our Agents</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col-block quick-link">
                            <div class="footer-heading footer-heading-mobile text-title fw-6 text_white mb_16">
                                Quick Links
                            </div>
                            <div class="tf-collapse-content">
                                <ul class="footer-menu-list d-grid gap_12">
                                    <li class="text-body-default text_color-1">
                                        <a href="about-us.html" class="link">About Us</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="constacts.html" class="link">Contact Us</a>
                                    </li>
                                    <li class="text-body-default text_color-1">
                                        <a href="#" class="link">Our Team</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-col-block newsletter footer-item">
                        <div class="footer-heading footer-heading-mobile text-title fw-6 text_white mb_16">
                            Newsletter
                        </div>
                        <div class="tf-collapse-content">
                            <p class="text-body-default text_color-1 mb_16">
                                Get the latest news and updates from us
                            </p>
                            <form action="#" class="form-newsletter">
                                <input type="email" placeholder="Your email" class="form-control">
                                <button type="submit" class="tf-btn btn-bg-primary">
                                    <span>Subscribe</span>
                                    <span class="bg-effect"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap_20">
                        <p class="text-body-default text_color-1">© 2024 Balirate. All Rights Reserved.</p>
                        <ul class="social-list d-flex gap_16">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->