<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/splitting.min.js' %}"></script>
<script src="{% static 'js/simpleParallax.min.js' %}"></script>
<script src="{% static 'js/infiniteslidev2.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- End Scripts -->